/*
    https://www.w3schools.com/colors/colors_shades.asp
    
    HTML Black              #000000     rgb(0,0,0)
    HTML Gray               #808080     rgb(128,128,128)
    HTML DarkGray           #A9A9A9     rgb(169,169,169)
    HTML Silver             #C0C0C0     rgb(192,192,192)
    HTML LightGray          #D3D3D3     rgb(211,211,211)
    HTML WhiteSmoke         #F5F5F5     rgb(245,245,245)
    HTML White              #FFFFFF     rgb(255,255,255)

    Yellow hover buttons    #ffff66
    Blue hover buttons      #b3e6ff
    Green hover buttons     #b3ff66
    Red hover buttons       #ff6666

*/
html,body{
    height: 100%;
}

.white-logo{
    color: #F5F5F5;
}

.yellow-hover:hover{
    color: #ffff66;
}

.blue-hover:hover{
    color: #b3e6ff;
}

.green-hover:hover{
    color: #b3ff66;
}

.red-hover:hover{
    color: #ff6666;
}

/* Header styles */
.header-tools{
    background-color: gray;
}

.header-tools-list{
    display: inline-block;
    margin: 0;
    padding: 5px;
}

.header-tools-list li{
    display: inline;
    padding: 5px 25px 5px 25px;
    box-sizing: border-box;
}

.header-tools-list a{
    text-decoration: none;
    color: #F5F5F5;
}

.header-tools-list a:hover{
    color: #000000;
}
/* Header styles end */

/* Body styles */
.body-tools{
    background: whitesmoke;
}

.body-canvas{
    background: url("../img/grid.png");
    position: relative;
    margin: 15px auto;

    height: 90%;
}

/* override efrule style to take out the overflow */
.ef-ruler{
    overflow-x: hidden;
}

.body-tools ul{
    list-style-type: none;
    padding: 0;
}

.body-tools ul li{
    padding: 10px;
}

.body-tools .left-lateral-bar{
    background-color: darkgray;
    padding: 0;
    min-height: calc(100vh - 30px);
}

.body-tools .left-lateral-bar a{
    text-decoration: none;
    color: #F5F5F5;
}

.body-tools .left-lateral-bar a:hover li{
    background-color: gray;
}

.body-tools .right-lateral-bar{
    background-color: darkgray;
    padding: 0;
    min-height: calc(100vh - 30px);
    color: #F5F5F5;
    text-align: center;
}

.body-tools .right-lateral-bar hr{
    margin: 10px;
    border-top: 1px solid gray;
}

.body-tools .right-lateral-bar .some-tools::after{
    content: "";
    clear: both;
    display: table;
}

.body-tools .right-lateral-bar .bar-tool{
    float: left;
    width: 30%;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;

    margin: 1px;
}

.body-tools .right-lateral-bar .bar-tool i{
    margin-top: 6px;
}

.body-tools .right-lateral-bar .bar-tool:hover{
    cursor: pointer;
    background: gray;
}

.body-tools .right-lateral-bar .more-bar-tool{
    float: left;
    width: 48%;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;

    margin: 1px;
}

.body-tools .right-lateral-bar .more-bar-tool i{
    margin-top: 6px;
}

.body-tools .right-lateral-bar .more-bar-tool:hover{
    cursor: pointer;
    background: gray;
}
/* Body styles end */