    <hr>
<label>Preview: </label>
<div class="row">
    <div class="col-lg-11">
        <!-- Print parent panel -->
        <div class="panel-group" id="minesweep-{{minesweep.get_uuid_as_str}}">
            <div id="{{minesweep.get_uuid_as_str}}" class="panel panel-default tooltipster" data-tooltip-content="#tooltip_content">

                    <div class="panel-heading" role="tab" id="head-{{minesweep.get_uuid_as_str}}">
                            <p> {{ minesweep.content | safe | default:"Paragraph" }} </p>
                    </div>

            </div>
        </div>
    </div>
</div>

<div class="tooltip_templates">
    <span id="tooltip_content" style="width: {{minesweep.width}}%;height: {{ minesweep.height }}px;{{ minesweep.content_style }}">
        <p>{{ minesweep.tooltip | safe |default:"This is a minesweep"}}</p>
    </span>
</div>
