    {% if tabs %}
    <div class="panel">
        <div class="panel-heading">                                    
            <p style="display: inline-block;">
               {{ container.name | safe | default:"This is a tab"}}
            </p>
            
            {% if tabs %}
            <ul class="nav nav-tabs">
                {% for tab in tabs %}
                        {% if container.id == tab.parent.id %}
                            {% if forloop.first %}
                                <li role="presentation" class="active">
                                    <a href="#">{{tab.title | default:"Tab title"}}
                                        <!-- <a href="{% url 'tab:tab-delete' tab_id=tab.get_uuid_as_str %}" class="red-hover delete-panel-button pull-right delete-button"> -->
                                            <i class="fa fa-trash-o" style="margin-left: 8px;" aria-hidden="true"></i>
                                        <!-- </a> -->
                                    </a>
                                </li>
                            {% else %}
                                <li role="presentation">
                                    <a href="#">{{tab.title | default:"Tab title"}}
                                        <!-- <a href="{% url 'tab:tab-delete' tab_id=tab.get_uuid_as_str %}" class="red-hover delete-panel-button pull-right delete-button"> -->
                                            <i class="fa fa-trash-o" style="margin-left: 8px;" aria-hidden="true"></i>
                                        <!-- </a> -->
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            
                      
        </div>       
    </div>
    {% endif %}                
