<div class="row">
    <div class="col-lg-1 minesweep-options">
        <a href="{% url 'minesweep:minesweep-delete' minesweep_id=minesweep.get_uuid_as_str %}" class="minesweep-option red-hover delete-button">
            <div><i class="fa fa-trash-o" aria-hidden="true"></i></div>
        </a>
    </div>  
    <div class="col-lg-11">
        <div class="panel panel-default tooltipster" data-tooltip-content="#tooltip_content" id="minesweep-{{minesweep.get_uuid_as_str}}" style="width: {{minesweep.width}}%;">

            <div class="panel-heading" role="tab" style="height: {{ minesweep.height }}px; {{minesweep.content_style}}">
                
                <p style="display: inline-block;">
                    {{ minesweep.content | default:"This is a minesweep"}}
                </p>

                <a href="{% url 'minesweep:minesweep-delete' minesweep_id=minesweep.get_uuid_as_str %}" class="red-hover delete-panel-button pull-right delete-button">
                    <div><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                </a>
                <a href="{% url 'minesweep:minesweep-edit' minesweep_id=minesweep.get_uuid_as_str %}" class="blue-hover edit-panel-button pull-right">
                    <div><i class="fa fa-pencil" aria-hidden="true"></i></div>
                </a>

            </div>

        </div>
    </div>
</div>


<div class="tooltip_templates">
    <span id="tooltip_content">
        <p>{{ minesweep.tooltip | default:"This is a minesweep"}}</p>
    </span>
</div>