{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/tooltipster.bundle.min.css' %}">
    
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/tooltipster.bundle.min.js' %}"></script>

    <script>
        $(document).ready(function() {
            $('.tooltipster').tooltipster();
        })
    </script>

    <style type="text/css">
        .tooltip_templates { display: none; }
    </style>
</head>

<img src="{% static 'img/icon_project.png' %}" class="tooltipster" data-tooltip-content="#tooltip_content">

<div class="tooltip_templates">
    <span id="tooltip_content">
        <h4>TOOLTIP!!!</h4>
        <img src="{% static 'img/grid.png' %}" />
        <strong>This is the content of my tooltip!</strong>
    </span>
</div>

