{% load staticfiles %}
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title> Phoenix Team | Editor</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery.ui.ruler.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles-accordion.css' %}">
    </head>

    <body class="container-fluid">
        <div class="row">
            <div class="col-lg 12 header-tools">
                <strong class="white-logo">PTm</strong>
                <ul class="header-tools-list">
                    |<a href="#"><li>File</li></a>|
                    <a href="#"><li>Edit</li></a>|
                    <a href="#"><li>Tools</li></a>|
                    <a href="#"><li>About</li></a>|
                </ul>
            </div>
        </div>

        <div class="body-tools">
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 left-lateral-bar">
                    <!-- Left nav bar -->
                    <ul>
                        <li><i class="fa fa-bars" aria-hidden="true"></i> Acordeon</li>
                        <li class="blue-hover" data-toggle="modal" data-target="#accordion-create-modal">
                            <i class="fa fa-plus" aria-hidden="true"></i> Crear
                        </li>
                        <a class="hover" href="{% url 'main:accordion-list' %}"><li class="blue-hover"><i class="fa fa-list" aria-hidden="true"></i> Lista</li></a>
                    </ul>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 body-tools">
                    <!-- Middle canvas -->
                    <div class="body-canvas">
                      {% block content %}
                      {% endblock %}
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 right-lateral-bar">
                    <!-- Right nav bar -->
                    <div class="some-tools">
                        <div class="bar-tool green-hover"><i class="fa fa-code" aria-hidden="true"></i></div>
                        <div class="bar-tool green-hover"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
                        <div class="bar-tool green-hover"><i class="fa fa-hand-paper-o" aria-hidden="true"></i></div>
                        <div class="bar-tool green-hover"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                        <div class="bar-tool green-hover"><i class="fa fa-film" aria-hidden="true"></i></div>
                        <div class="bar-tool green-hover"><i class="fa fa-fire" aria-hidden="true"></i></div>
                        <div class="bar-tool green-hover"><i class="fa fa-low-vision" aria-hidden="true"></i></div>
                        <div class="bar-tool green-hover"><i class="fa fa-refresh" aria-hidden="true"></i></div>
                    </div>
                    <hr>
                    <div class="some-tools">
                        <div class="more-bar-tool yellow-hover"><i class="fa fa-cogs" aria-hidden="true"></i></div>
                        <div class="more-bar-tool yellow-hover"><i class="fa fa-database" aria-hidden="true"></i></div>
                    </div>
                    <hr>
                    <div class="some-tools">
                        <div class="bar-tool red-hover"><i class="fa fa-coffee" aria-hidden="true"></i></div>
                        <div class="bar-tool red-hover"><i class="fa fa-map-o" aria-hidden="true"></i></div>
                        <div class="bar-tool red-hover"><i class="fa fa-microchip" aria-hidden="true"></i></div>
                        <div class="bar-tool red-hover"><i class="fa fa-recycle" aria-hidden="true"></i></div>
                        <div class="bar-tool red-hover"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    
        {% include 'create_accordion.html' %}

        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui.min.js' %}"></script>
        <script src="{% static 'js/jquery.ui.ruler.js' %}"></script>
        <script language="JavaScript">
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            $(document).ready(function () {
                //$('.body-canvas').ruler();
                
                $("#accordion-create-submit").on('click', function(e){
                    e.preventDefault();

                    var accordionForm = $('#accordion-create-form').serialize();
                    var csrftoken = getCookie('csrftoken');

                    $.ajaxSetup({
                        beforeSend: function(xhr, settings) {
                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            }
                        },
                    });

                    $.ajax({
                        url: "{% url 'main:accordion-create'%}",
                        data: JSON.stringify(accordionForm),
                        method: "POST",
                        dataType: 'json',
                    }).done(function(data){
                        window.location.replace(data['redirectTo']);
                    }).fail(function(XMLHttpRequest, textStatus, errorThrown) { 
                        console.log(XMLHttpRequest.responseText);
                    })
                })
            });
        </script>
        {% block extraJS %}
        {% endblock %}
    </body>
</html>
