        <div class="panel panel-default" width="{{ acordeon.width }}" height="{{ acordeon.height }}"
            style="{{ acordeon.style }}">
            <div class="panel-heading" style="color:{{ acordeon.title_style }}">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#{{ acordeon.get_name_for_id }}">{{ acordeon.title | default:"Link collapsable" }}</a>
                </h4>
            </div>
            {% if nombrecualquiera %}
                <div id="{{ acordeon.get_name_for_id }}" class="panel-collapse collapse in" style="{{ acordeon.content_style }}">
            {% else %}
                <div id="{{ acordeon.get_name_for_id }}" class="panel-collapse collapse" style="{{ acordeon.content_style }}">
            {% endif %}
                    <div class="panel-body">
                        <p> {{ acordeon.content|safe | default:"Paragraph" }} </p>
                        {% for sub_acc in acordeon.sub_accordions.all %}
                            {% include "panel_acordeon.html" with acordeon=sub_acc nombrecualquiera=forloop.first only %}
                        {% endfor %}
                    </div>
                </div>
        </div>
