<div class="panel panel-default" width="{{ acordeon.width }}" height="{{ acordeon.height }}"
     style="{{ acordeon.style }}" id="panel-{{ acordeon.get_identificador }}">
            <div class="panel-heading" style="{{ acordeon.title_style }}">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#{{ acordeon.get_identificador }}">{{ acordeon.title | default:"Link collapsable" }}</a>
                </h4>
            </div>
            {% if nombrecualquiera %}
                <div id="{{ acordeon.get_identificador }}" class="panel-collapse collapse in"
                     style="{{ acordeon.content_style }}">
            {% else %}
                <div id="{{ acordeon.get_identificador }}" class="panel-collapse collapse"
                     style="{{ acordeon.content_style }}">
            {% endif %}
                    <div class="panel-body">
                        <p> {{ acordeon.content|safe | default:"Paragraph" }} </p>
                        {% for sub_acc in acordeon.sub_accordions.all %}
                            {% include "panel_acordeon.html" with acordeon=sub_acc nombrecualquiera=forloop.first only %}
                        {% endfor %}
                    </div>
                </div>            
        </div>


